# PostgreSQL
PG_PASSWORD=change-me-in-prod
PG_DSN=postgresql+asyncpg://printsys:printsys@db:5432/printsys

# Пути в контейнере, доступные для сканирования (: разделитель)
# Пользователь в UI сможет добавить любую подпапку внутри этих корней.
DATA_ROOTS=/data

# Хостовая директория, которая монтируется в /data (только prod-compose)
HOST_DATA_DIR=./mount

# Порт наружу
WEB_PORT=8000
